<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8"/>
    <title>admin</title>
    
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}" />
    
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
	
    <link rel="stylesheet" th:href="@{/css/style-admin.css}"/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/admin}" th:utext="#{admin}">Dashboard</a></li>
            <li><a th:href="@{/settings}">Settings</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a th:href="@{/admin}"><span th:utext="#{overview}"></span> <span class="sr-only">(current)</span></a></li>
            <li><a th:href="@{/categoria}" th:utext="#{categoria}"></a></li>
            <li><a th:href="@{/produto}" th:utext="#{produto}"></a></li>
            <li><a th:href="@{/pagina}" th:utext="#{pagina}"></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a th:href="@{/geral/get}" th:utext="#{geral}"></a></li>
            <li><a th:href="@{/paypal/get}" th:utext="#{paypal}"></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a th:href="@{/usuario}" th:utext="#{usuario}"></a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:if="${list == null and command == null and settings == null}">
			<div class="page-header">
			  <h1 th:utext="#{admin}"></h1>
			</div>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:if="${list}">		
			<div class="row">
			  <div class="col-md-4">
				<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn btn-default">30</button>
				  <button type="button" class="btn btn-default">40</button>
				  <button type="button" class="btn btn-default">50</button>
				</div>
			  </div>
			  <div class="col-md-4"></div>
			  <div class="col-md-4">
				<input type="search" class="form-control" id="search"></input>
			  </div>
			</div>

			<div class="table-responsive">
			  <table class="table table-bordered table-striped">
			    <thead>
			    	<tr>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    	</tr>
			    </thead>
			    
			    <tbody>
			    	<tr>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    	</tr>
			    </tbody>
			    
			    <tfoot>
			    	<tr>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    	</tr>
			    </tfoot>
			  </table>
			</div>
			
			<nav aria-label="Page navigation">
			  <ul class="pagination">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:if="${command}">
        	<form role="form" class="form" id="form">
        		<fieldset type="Datalist">
        			<label></label>
        			<datalist class="form-control"></datalist>
        		</fieldset>
        		
        		<fieldset type="Input">
        			<label></label>
        			<input class="form-control"></input>
        		</fieldset>
        		
        		<fieldset type="Select">
        			<label></label>
        			<select class="form-control"></select>
        		</fieldset>
        		
        		<fieldset type="Textarea">
        			<label></label>
        			<textarea class="form-control"></textarea>
        		</fieldset>
        	</form>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:if="${settings}">
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" th:each="item : ${settings}" th:class="${#strings.equals(setting['class'].simpleName, item.simpleName)} ? 'active' : 'null'">
			    	<a th:href="@{#__${item.simpleName}__}" th:attr="aria-controls=${item.simpleName}" role="tab" data-toggle="tab" th:utext="#{__${item.simpleName}__}"></a>
		    	</li>
			  </ul>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" th:each="item : ${settings}" th:class="${#strings.equals(setting['class'].simpleName, item.simpleName)} ? 'tab-pane active' : 'tab-pane'" th:id="${item.simpleName}">
		        	<form role="form" class="form" id="form">
		        		<fieldset if="Datalist">
		        			<label></label>
		        			<datalist class="form-control"></datalist>
		        		</fieldset>
		        		
		        		<fieldset if="Input">
		        			<label></label>
		        			<input class="form-control"></input>
		        		</fieldset>
		        		
		        		<fieldset if="Select">
		        			<label></label>
		        			<select class="form-control"></select>
		        		</fieldset>
		        		
		        		<fieldset if="Textarea">
		        			<label></label>
		        			<textarea class="form-control"></textarea>
		        		</fieldset>
		        	</form>
			    </div>
			  </div>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
    <script th:src="@{/js/script-admin.js}"></script>
  </body>
</html>
