<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8"/>
    <title>admin</title>
    
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}" />
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
	
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet"/>
	
    <link rel="stylesheet" th:href="@{/css/style-admin.css}"/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="hasPermission(#user, 'settings')"><a th:href="@{/settings}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
            <li><a th:href="@{/profile}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          
          <ul class="nav nav-sidebar">
            <li th:class="${list == null and setting == null}? 'active' : 'null'"><a th:href="@{/admin}"><span th:utext="#{overview}"></span> <span class="sr-only">(current)</span></a></li>
            <li th:class="${list != null and #strings.equals(list.simpleName, 'Categoria')? 'active' : 'null'}" sec:authorize="hasPermission(#user, 'categoria')"><a th:href="@{/categoria/index}" th:utext="#{categoria}"></a></li>
            <li th:class="${list != null and #strings.equals(list.simpleName, 'Produto')? 'active' : 'null'}" sec:authorize="hasPermission(#user, 'produto')"><a th:href="@{/produto/index}" th:utext="#{produto}"></a></li>
            <li th:class="${list != null and #strings.equals(list.simpleName, 'Pagina')? 'active' : 'null'}" sec:authorize="hasPermission(#user, 'pagina')"><a th:href="@{/pagina/index}" th:utext="#{pagina}"></a></li>
          </ul>
          <ul class="nav nav-sidebar" sec:authorize="hasPermission(#user, 'settings')">
            <li th:class="${setting != null and #strings.equals(setting['class'].simpleName, 'Geral')? 'active' : 'null'}"><a th:href="@{/geral/get}" th:utext="#{geral}"></a></li>
            <li th:class="${setting != null and #strings.equals(setting['class'].simpleName, 'Paypal')? 'active' : 'null'}"><a th:href="@{/paypal/get}" th:utext="#{paypal}"></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li th:class="${list != null and #strings.equals(list.simpleName, 'Usuario')? 'active' : 'null'}" sec:authorize="hasPermission(#user, 'usuario')"><a th:href="@{/usuario/index}" th:utext="#{usuario}"></a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:if="${list == null and command == null and settings == null}">
			<div class="page-header">
			  <h1 th:utext="#{admin}"></h1>
			</div>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:if="${list}">
        	<div class="page-header">
			  <h1 th:utext="#{__${list.simpleName}__}"></h1>
			</div>
			
			<div class="table-responsive">
			  <table class="table table-bordered table-striped">
			    <thead>
			    	<tr>
			    		<th></th>
			    		<th th:each="item : ${list.declaredFields}" th:utext="#{__${item.name}__}"></th>
			    		<th></th>
			    	</tr>
			    </thead>
			    
			    <tbody>
			    	<tr>
			    		<td></td>
			    		<td th:each="item : ${list.declaredFields}"></td>
			    		<td></td>
			    	</tr>
			    </tbody>
			    
			    <tfoot>
			    	<tr>
			    		<td></td>
			    		<td th:each="item : ${list.declaredFields}" th:utext="#{__${item.name}__}"></td>
			    		<td></td>
			    	</tr>
			    </tfoot>
			  </table>
			</div>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:if="${command}">
	       	<form role="form" class="form" id="form">
	       		<fieldset type="Datalist">
	        			<label></label>
	        			<datalist class="form-control"></datalist>
	       		</fieldset>
	        		
	       		<fieldset type="Input">
	       			<label></label>
	       			<input class="form-control"></input>
	       		</fieldset>
	       		
	       		<fieldset type="Select">
	       			<label></label>
	       			<select class="form-control"></select>
	       		</fieldset>
	       		
	       		<fieldset type="Textarea">
	       			<label></label>
	       			<textarea class="form-control"></textarea>
	       		</fieldset>
	       		
	       		<fieldset type="Summernote">
	       			<textarea class="summernote"></textarea>
	       		</fieldset>
	       	</form>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:if="${settings}">
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" th:each="item : ${settings}" th:class="${#strings.equals(setting['class'].simpleName, item.simpleName)} ? 'active' : 'null'">
			    	<a th:href="@{#__${item.simpleName}__}" th:attr="aria-controls=${item.simpleName}" role="tab" data-toggle="tab" th:utext="#{__${item.simpleName}__}"></a>
		    	</li>
			  </ul>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" th:each="item : ${settings}" th:class="${#strings.equals(setting['class'].simpleName, item.simpleName)} ? 'tab-pane active' : 'tab-pane'" th:id="${item.simpleName}">
			       	<form role="form" class="form" id="form">
			       		<fieldset type="Datalist">
			        			<label></label>
			        			<datalist class="form-control"></datalist>
			       		</fieldset>
			        		
			       		<fieldset type="Input">
			       			<label></label>
			       			<input class="form-control"></input>
			       		</fieldset>
			       		
			       		<fieldset type="Select">
			       			<label></label>
			       			<select class="form-control"></select>
			       		</fieldset>
			       		
			       		<fieldset type="Textarea">
			       			<label></label>
			       			<textarea class="form-control"></textarea>
			       		</fieldset>
			       		
			       		<fieldset type="Summernote">
			       			<textarea class="summernote"></textarea>
			       		</fieldset>
			       	</form>
			    </div>
			  </div>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    
    <script th:if="${list}">
    $(document).ready(function(){
    	//TODO
    });
    </script>
    
    <script th:if="${command}">
    $(document).ready(function() {
    	  $('.summernote').each({
    		  $(this).summernote();
    	  });
    });
    </script>
  </body>
</html>
